nav {
  background-color: #0050f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  .logo-section {
    padding: 16px 30px;
    img {
      height: 38px;
      width: auto;
    }
  }
  .icon-container {
    padding: 6px 20px;
    i {
      padding: 10px;
      font-size: 1.2rem;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 734px) {
  nav {
    justify-content: space-between;
  }
}
