<div *ngIf="collections && collections.length > 0">
  <p-table
    [value]="collections"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 15]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">Nombre del pagador</th>
        <th style="width: 35%">Descripción/concepto</th>
        <th style="width: 25%">Medio de pago</th>
        <th style="width: 10%">Importe pagado</th>
        <th style="width: 10%">Fecha de pago</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{ data.payer_name }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.channel }}</td>
        <td>
          {{
            data.amount_paid
              | currency : "ARS" : "symbol-narrow" : "1.0-2" : "es"
          }}
        </td>
        <td>{{ data.payment_date | date : "dd/MM/yyyy" }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div *ngIf="!collections" class="empty-state-container">
  <img
    style="height: 300px"
    src="../../../assets/images/man-search.svg"
    alt=""
  />
  <h3>Ingresa una fecha para buscar</h3>
</div>
