.empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 18px;
  }
  img {
    height: 200px;
  }
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-results-container {
  display: flex;
  align-items: flex-start;
  color: #737373;
  padding: 20px;
}

@media only screen and (min-width: 480px) {
  .empty-state-container {
    h3 {
      font-size: 22px;
    }
    img {
      height: 300px;
    }
  }
}
