<footer>
  <div class="footer-section">
    <span>©carlapalmieri.com</span>
  </div>

  <div class="footer-section">
    <a class="link-item" href="mailto:hello@carlapalmieri.com">
      <i class="pi pi-envelope"></i>
    </a>
    <a
      class="link-item"
      href="https://www.linkedin.com/in/carla-palmieri/"
      target="_blank"
    >
      <i class="pi pi-linkedin"></i>
    </a>
    <a
      class="link-item"
      href="https://api.whatsapp.com/send?phone=543549454078"
      target="_blank"
    >
      <i class="pi pi-whatsapp"></i>
    </a>
    <a class="link-item" href="tel:+543549454078" target="_blank">
      <i class="pi pi-phone"></i>
    </a>
  </div>
</footer>
