:root {
  --primary-color: #0050f5;
  --light-gray: #fafafa;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
